
  body {
    width: 100vw;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    background-color: grey;
  }

  .form input[type="number"] {
    width: 200px;
  }

  .lastResult {
    color: white;
    padding: 3px;
  }